<div class="row">
  <div class="col-4">
    <div class="list-group" >
      <a class="list-group-item list-group-item-action active" id="lesson_1name" data-bs-toggle="list" href="#lesson_1url" role="tab" aria-controls="lesson_1url">All Courses</a>
      <a class="list-group-item list-group-item-action" id="lesson_1name" data-bs-toggle="list" href="#lesson_1url" role="tab" aria-controls="lesson_1url">IT & Software</a>
      <a class="list-group-item list-group-item-action" id="lesson_1name" data-bs-toggle="list" href="#lesson_1url" role="tab" aria-controls="lesson_1url">Data Science</a>
      <a class="list-group-item list-group-item-action" id="lesson_1name" data-bs-toggle="list" href="#lesson_1url" role="tab" aria-controls="lesson_1url">Artificial Intelligence</a>
      <a class="list-group-item list-group-item-action" id="lesson_1name" data-bs-toggle="list" href="#lesson_1url" role="tab" aria-controls="lesson_1url">Machine Learning</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="lesson_1url"  aria-labelledby="lesson_1name"></div>
      <div class="tab-pane fade" id="lesson_1url"  aria-labelledby="lesson_1name"></div>
      <div class="tab-pane fade" id="lesson_1url" aria-labelledby="lesson_1name"></div>
      <div class="tab-pane fade" id="lesson_1url" aria-labelledby="lesson_1name"></div>
      <div class="tab-pane fade" id="lesson_1url" aria-labelledby="lesson_1name"></div>
    </div>
  </div>
</div>
